
// Constrict the width of the Shoppable widget
#invodo-shoppable-widget {
  max-width: 1200px;
  margin: 0 auto;
}


// academy

$academy-blue: #0055AA;
$academy-blue-hover: #0077dd;
$academy-red: #CC0000;
$academy-red-hover: #a82023;

.ivp-default-theme .ivp-card-cta--primary,
.ivp-default-theme .ivp-card-cta--secondary {
    background: $academy-red;
    border-color: $academy-red;
}

.ivp-default-theme .ivp-card-content {
    background: $academy-blue;
    color: #fff;
}

.ivp-default-theme .ivp-notification-inside,
.ivp-default-theme .ivp-hotspot--firefly {
  background: $academy-blue;
  color: #fff;
}

.ivp-default-theme .ivp-notification-inside:hover,
.ivp-default-theme .ivp-hotspot--firefly:hover {
    background: $academy-blue-hover;
}

.ivp-default-theme .ivp-notification-inside:hover .ivp-notification-learn-more p,
.ivp-default-theme .ivp-notification-inside:hover .ivp-notification-learn-more p:after {
  color: #fff;
}

.ivp-default-theme .ivp-card--medium {
    width: 320px;
    height: 200px;
    background: $academy-blue;
}

.ivp-default-theme .ivp-notification-inside .ivp-notification-text,
.ivp-default-theme .ivp-notification-inside .ivp-notification-learn-more {
  padding-left: 5px;
}

.ivp-default-theme .ivp-card--medium .ivp-card-cta--primary:hover,
.ivp-default-theme .ivp-card--medium .ivp-card-cta--secondary:hover {
  background-color: $academy-red-hover;
  border-color: $academy-red-hover;
}

.ivp-default-theme .ivp-card .ivp-card-cta--primary:after {
  display: none;
}

.ivp-default-theme .ivp-card .ivp-btn--close {
  color: #000000;
}

.ivp-default-theme .ivp-card-content h3 {
  color: #FFFFFF;
}

.ivp-default-theme .ivp-hotspot-title {
  color: #fff;
}

// .ivp-default-theme .ivp-hotspot {
//   background: transparent;
// }
// .ivp-poster {
//   height: 88%;
// }
